<p id="notice"><%= notice %></p>

<h1>Список курьеров</h1>

<table>
  <thead>
    <tr>
      <th>Имя курьера</th>
      <th>Действия над курьером</th>
    </tr>
  </thead>

  <tbody>
    <%= render @couriers%>
  </tbody>
</table>

<br>
<%= link_to 'Добавить курьера', new_courier_path %>

<br><br>
<%= link_to 'Добавить посылку', new_package_path(@package) %>
<br>
<br><br>
<%= link_to 'На главную', welcome_index_path %>
