<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Имя курьера</th>
      <th>E-mail курьера</th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td><%= @courier.name %></td>
        <td><%= @courier.email %></td>
      </tr>
  </tbody>
</table>

<br>
<%= link_to 'Редактировать данные курьера', edit_courier_path(@courier) %>
<br>
<br>
<%= link_to 'Назад', couriers_path %>
